workspace/test/src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="5000" doc:name="HTTP Listener Configuration"/>

    <flow name="testFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <custom-transformer class="abc.qac.com.ProcessRequest" doc:name="Java"/>
        <logger message="manchester" level="INFO" doc:name="Logger"/>
        <logger message="london" level="INFO" doc:name="Logger"/>
        <http:static-resource-handler resourceBase="C:\Users\Admin\AnypointStudio\workspace\test\src\main\html-app\Features\Form.html" doc:name="HTTP Static Resource Handler"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.method' =='GET']">
                <logger message="truth" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="lies" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
